<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net48" />
  <package id="Json.More.Net" version="2.1.0" targetFramework="net48" />
  <package id="JsonPointer.Net" version="5.1.0" targetFramework="net48" />
  <package id="JsonSchema.Net" version="7.3.1" targetFramework="net48" />
  <package id="JsonSchema.Net.Generation" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="Mscc.GenerativeAI" version="2.6.6" targetFramework="net48" />
  <package id="NetTopologySuite" version="2.6.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Nullable" version="1.3.1" targetFramework="net48" developmentDependency="true" />
  <package id="OpenAI" version="2.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.ClientModel" version="1.4.2" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.3" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory.Data" version="6.0.1" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WPF-UI" version="4.0.3" targetFramework="net48" />
  <package id="WPF-UI.Abstractions" version="4.0.3" targetFramework="net48" />
</packages>